core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
C:\Users\renwa\OneDrive\Desktop\Django3blog\cherry-leaves\inputs\cherry-leaves\test
C:\Users\renwa\OneDrive\Desktop\Django3blog\cherry-leaves\inputs\cherry-leaves\train
